body{
    background-color: #858282;
}


#form-container {
    background-color: #F8F8F8;
    border-radius: 20px;
    box-shadow: .5px 10px 15px rgba(0, 0, 0, .2);
    margin: 25px auto;
    padding: 25px;
}

#form-container h2{
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 50px;
}

#form-container a{
    color: #858282;
    transition: .5s;
    text-align: center;
}

#form-container a:hover{
    color: #222;
}

#form-container form {
    padding-bottom: 50px;
}

#form-container .form-control {
    background-color: #F8F8F8 ;
    border: none;
    border-bottom: 1px solid #CCC;
    border-radius: 0;
}

#form-container .form-control:focus {
    box-shadow: none;
}

#form-container .form-floating label {
    color: #CCC;
}

#form-container .form-floating > .form-control:focus~label {
    color: #222;
}

#form-container input[type="submit"]{
    background-color: #222;
    color: #FFF;
    font-size: 15px;
    border-radius: 0;
}

#form-container input[type="submit"]:hover{
    background-color: #FFF;
    color: #222;
    transition: 1s;
}

.row .align-items-center{
    align-content: center;
    height: 100%;
}

#link-container {
    text-align: center;
    padding: 50px;
}

.btn.btn-outline-dark{
    margin-top: 25px;
}